<!DOCTYPE html>
<html lang="en">

<head>
  <% var title; %>
    <% title=title? ` | ${title}` : '' ;%>
      <title>
        <%= `FlevaR Editor${title}`%>
      </title>
      <meta charset="UTF-8" />
      <meta http-equiv="X-UA-Compatible" content="IE=edge" />
      <meta name="viewport" content="width=device-width, initial-scale=1.0" />
      <meta name="theme-color" content="#252935">
      <meta name="twitter:site" content="@danidre">
      <meta property="og:title" content="<%= `FlevaR Editor${title}`%>">
      <%- meta %>
        <link rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon">
        <link rel="stylesheet" href="/stylesheets/style.css" />
        <link rel="stylesheet" href="/stylesheets/main.css" />
        <%- style %>
          <%- script %>
</head>

<body>
  <div class="min-h-full flex flex-col items-stretch bg-flevar-p3 font-custom text-flevar-p1">
    <%- include("../partials/menu.ejs") %>

      <main id="main" class="bg-flevar-p3 flex-grow min-h-full shadow-md">
        <div class="mt-20 min-h-full">
          <%- body %>
        </div>
      </main>
      <%- include("../partials/footer.ejs") %>
        <%- include("../partials/scrollToTop.ejs") %>
  </div>
</body>

</html>